// ==========================================================================
// HEADER LAYOUT - Navigation and site header
// ==========================================================================

.header-container {
  @media (min-width: 62rem) {
    justify-content: space-between;
  }

  .nav-row {
    @include display-flex-space-between;
    padding: 1rem;

    .cart-col {
      flex: 0 0 75px;
      @include display-flex-center;
      .fa-cart-shopping {
        width: 25px;
        height: 25px;
      }
    }
  }

  .nav-col {
    flex: 0;
    justify-self: end;
    .navbar-toggler {
      border: none;
      flex: 0 0 50px;
      @include bg-hamburger;
      padding: 0 0.5em;
    }
  }

  .header-title {
    @include font-header-title;
    @include color-yellow;
    text-decoration: none;
  }
}

.offcanvas {
  box-sizing: border-box;
  @include display-flex-start;

  .offcanvas-header {
    @include display-flex-space-between;
    gap: 1rem;
    padding: 1rem;

    .nav-title {
      @include font-header-title;
      @include color-yellow;
      text-decoration: none;
    }
  }

  .offcanvas-body {
    padding: 1rem;

    .navbar {
      @include display-flex-column-nav;
      gap: 1rem;

      .nav-link {
        @include btn-nav-link;
        .fa-2x {
          width: 25px;
          height: 25px;
        }
      }

      .appt-btn {
        @include btn-appt;
        min-width: 12rem;
      }
    }
  }
}
