@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap" rel="stylesheet');
.service-slider {
  background-color: #f9f9f9;
}
@media (min-width: 62rem) {
  .service-slider {
    width: 65% !important;
    max-width: 100%;
  }
}
@media (min-width: 75rem) {
  .service-slider {
    width: 75% !important;
    max-width: 100%;
  }
}
@media (min-width: 90rem) {
  .service-slider {
    width: 45% !important;
    max-width: 100% !important;
  }
}
.service-slider .offcanvas-header {
  border-bottom: 3px solid #000000;
  padding: 1rem;
  background-color: #ffffff;
}
.service-slider .offcanvas-header .tire-selection-title {
  font-family: "Syne", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: #DAA520;
  font-weight: 600;
  text-transform: uppercase;
}
.service-slider .offcanvas-body {
  background-color: #ffffff;
}
@media (min-width: 62rem) {
  .service-slider .offcanvas-body {
    display: grid;
    padding: 2rem;
  }
}
.service-slider .offcanvas-body .tire-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Libre Baskerville", serif;
}
@media (min-width: 62rem) {
  .service-slider .offcanvas-body .tire-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
  }
}
.service-slider .offcanvas-body .tire-form .car-info {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.75rem;
  background-color: #f5f5f5;
  border: 1px solid #DAA520;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.service-slider .offcanvas-body .tire-form .car-info:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.service-slider .offcanvas-body .tire-form .car-info .form-label {
  margin: 0;
  padding: 0 0.5rem;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  text-transform: capitalize;
}
.service-slider .offcanvas-body .tire-form .car-info .form-select {
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333333;
  padding: 0.75rem;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 14rem;
  max-width: 16rem;
}
.service-slider .offcanvas-body .tire-form .car-info .form-select:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 204, 0, 0.3);
  border-color: #DAA520;
}
.service-slider .offcanvas-body .tire-form .car-info .form-select option {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem;
}
.service-slider .offcanvas-body .tire-form .date {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #f5f5f5;
  border: 1px solid #DAA520;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  gap: 1rem;
}
.service-slider .offcanvas-body .tire-form .date:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.service-slider .offcanvas-body .tire-form .date .form-label {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  text-transform: capitalize;
  margin: 0;
  padding: 0 0.5rem;
}
.service-slider .offcanvas-body .tire-form .date .form-control {
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 0.75rem;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  color: #333333;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.service-slider .offcanvas-body .tire-form .date .form-control:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 204, 0, 0.3);
  border-color: #DAA520;
}
.service-slider .tire-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}
@media (min-width: 62rem) {
  .service-slider .tire-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}
@media (min-width: 75rem) {
  .service-slider .tire-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.service-slider .tire-list-container .tire-cards {
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid #333333;
  border-radius: 0;
  justify-content: center;
  align-items: center;
}
.service-slider .tire-list-container .tire-cards .brand {
  font-family: "Libre Baskerville";
  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: 1.5rem;
}
.service-slider .tire-list-container .tire-cards .tire-container {
  position: relative;
  width: 100%;
  height: 70px;
  overflow: hidden;
}
.service-slider .tire-list-container .tire-cards .tire-container .tire-image {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 35%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 62rem) {
  .service-slider .tire-list-container .tire-cards .tire-container .tire-image {
    left: 30%;
  }
}
@media (min-width: 75rem) {
  .service-slider .tire-list-container .tire-cards .tire-container .tire-image {
    left: 25%;
  }
}
@media (min-width: 90rem) {
  .service-slider .tire-list-container .tire-cards .tire-container .tire-image {
    left: 40%;
  }
}
@media (min-width: 100rem) {
  .service-slider .tire-list-container .tire-cards .tire-container .tire-image {
    left: 43%;
  }
}
.service-slider .tire-list-container .tire-cards .tire {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.service-slider .tire-list-container .tire-cards .tire .tire-info {
  font-family: "Libre Baskerville";
  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: 1.5rem;
}
.service-slider .tire-list-container .tire-cards .tire-select-btn {
  background-color: #000000;
  color: #DAA520;
  font-family: "Syne", serif;
  padding: 1rem 2.25rem;
  border: 1px solid #DAA520;
  border-radius: 0;
}
.service-slider .tire-list-container .tire-cards .tire-select-btn:hover {
  background-color: #DAA520;
  color: #ffffff;
}
.service-slider .install-confirmation {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .customer-tire-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
@media (min-width: 75rem) {
  .service-slider .install-confirmation .customer-tire-form {
    justify-content: start;
  }
}
.service-slider .install-confirmation .customer-tire-form .contact-title {
  font-family: "Libre Baskerville", serif;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-weight: 600;
  padding: 0.5rem 0;
  color: #000000;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .customer-tire-form .contact-title {
    padding: 0;
    grid-column: 1/span 2;
  }
}
.service-slider .install-confirmation .customer-tire-form .customer-info {
  display: flex;
  flex-direction: column;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .customer-tire-form .customer-info {
    max-width: 12rem;
    justify-self: start;
  }
}
.service-slider .install-confirmation .customer-tire-form .customer-info .form-label {
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.1em;
  margin: 1rem 0;
  color: #DAA520;
}
.service-slider .install-confirmation .customer-tire-form .customer-info .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #333333;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  padding: 0.5rem 0;
}
.service-slider .install-confirmation .customer-tire-form .date {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .customer-tire-form .date {
    max-width: 14rem;
  }
}
.service-slider .install-confirmation .customer-tire-form .date .form-label {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  padding: 0.5rem 0;
}
.service-slider .install-confirmation .customer-tire-form .date .form-control {
  border-radius: 0;
  border: 1px solid #DAA520;
  cursor: pointer;
}
.service-slider .install-confirmation .customer-tire-form .time {
  display: flex;
  flex-direction: column;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .customer-tire-form .time {
    min-width: 8rem;
    max-width: 8rem;
  }
}
.service-slider .install-confirmation .customer-tire-form .time .form-label {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  padding: 0.5rem 0;
}
.service-slider .install-confirmation .customer-tire-form .time .form-control {
  border-radius: 0;
  border: 1px solid #DAA520;
  cursor: pointer;
  text-align: center;
}
.service-slider .install-confirmation .install-card {
  display: flex;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 0;
  margin-top: 1rem;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .install-card {
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
  }
}
@media (min-width: 75rem) {
  .service-slider .install-confirmation .install-card {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    align-items: start;
  }
}
.service-slider .install-confirmation .install-card .vehicle-info-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .install-card .vehicle-info-body {
    padding: 0;
  }
}
.service-slider .install-confirmation .install-card .vehicle-info-body .vehicle-type {
  font-family: "Libre Baskerville";
  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-weight: 600;
}
.service-slider .install-confirmation .install-card .vehicle-info-body .vehicle-info .list-group-item {
  border: none;
  font-family: "Libre Baskerville";
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-weight: 500;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .install-card .vehicle-info-body .vehicle-info .list-group-item {
    padding: 1rem 0;
  }
}
.service-slider .install-confirmation .install-card .tire-detail-body {
  padding: 1rem;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .install-card .tire-detail-body {
    padding: 0;
  }
}
.service-slider .install-confirmation .install-card .tire-detail-body .selected-tire {
  font-family: "Libre Baskerville";
  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-weight: 600;
}
.service-slider .install-confirmation .install-card .tire-detail-body .tire-type .list-group-item {
  border: none;
  font-family: "Libre Baskerville";
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-weight: 500;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .install-card .tire-detail-body .tire-type .list-group-item {
    padding: 1rem 0;
  }
}
.service-slider .install-confirmation .install-card .tire-detail-body .tire-type .tire-image-div {
  position: relative;
  width: 100%;
  height: 70px;
  overflow: hidden;
  margin: 1rem 0;
}
.service-slider .install-confirmation .install-card .tire-detail-body .tire-type .tire-image-div .tire-image {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-slider .install-confirmation .install-card .quantity-select {
  padding: 1rem;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .install-card .quantity-select {
    grid-column: 1/span 2;
    justify-self: start;
    align-self: center;
    padding: 0;
  }
}
@media (min-width: 75rem) {
  .service-slider .install-confirmation .install-card .quantity-select {
    grid-column: 3;
    align-self: start;
    padding: 0;
  }
}
.service-slider .install-confirmation .install-card .quantity-select .quantity {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  align-items: center;
}
.service-slider .install-confirmation .install-card .quantity-select .quantity .quantity-control {
  display: flex;
  gap: 1rem;
}
.service-slider .install-confirmation .install-card .quantity-select .quantity .form-label {
  font-family: "Libre Baskerville";
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin: 0;
}
.service-slider .install-confirmation .install-card .quantity-select .quantity .number-btn {
  display: flex;
  border-radius: 0;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
  border: none;
  font-size: 1.125rem;
}
.service-slider .install-confirmation .install-card .quantity-select .quantity .form-control {
  display: flex;
  border-radius: 0;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  max-width: 60px;
  text-align: center;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .install-card .cost-container {
    grid-column: 1/span 2;
  }
}
.service-slider .install-confirmation .install-card .cost-container .cost-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .install-card .cost-container .cost-details {
    display: grid;
    grid-template-rows: repeat(6, minmax(min-content, max-content));
    grid-template-columns: minmax(min-content, max-content);
    padding: 0;
  }
}
.service-slider .install-confirmation .install-card .cost-container .cost-details .list-group-item {
  border: none;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
}
@media (min-width: 62rem) {
  .service-slider .install-confirmation .install-card .cost-container .cost-details .list-group-item {
    padding: 0.5rem 0;
  }
}
.service-slider .install-confirmation .purchase-div {
  grid-column: 1/span 2;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.service-slider .install-confirmation .purchase-div .submit-btn {
  font-family: "Syne", serif;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 1.5em;
  border: 1px solid #DAA520;
  border-radius: 0;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: #DAA520;
}
.service-slider .install-confirmation .purchase-div .submit-btn:hover {
  background-color: #000000;
  color: #ffffff;
}/*# sourceMappingURL=tireform.css.map */